body {
  background-color: #303030;
  scrollbar-track-color: rgba(10, 10, 10, 0);
}
body::-webkit-scrollbar {
  width: 14px;
  height: 18px;
}
body::-webkit-scrollbar-thumb {
  height: 6px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 7px;
  background-color: #4c4c4c;
  box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}
body::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
body::-webkit-scrollbar-track {
  background-color: transparent;
}

.navbar-custom {
  background-color: #4c4c4c;
  position: sticky;
  top: 0;
  z-index: 1;
}

.post-label {
  color: #b4b4b4;
}

.user-likes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.user-likes .likes {
  display: flex;
  flex-direction: row;
}

.like-button {
  border-radius: 1000px;
  border: 0px;
}

.navbar-brand {
  max-width: 70px;
}

.navbar-nav {
  width: 100%;
  min-height: 40px;
}

.nav-item:last-of-type {
  position: absolute;
  margin-right: 30px;
  right: 0;
}

.posts-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.index-container {
  display: flex;
  flex-direction: row;
}

.post {
  margin-block: 10px;
  width: 60%;
  margin-inline: 20px;
  padding-block: 10px;
  padding-inline: 100px;
  background-color: #4c4c4c;
  box-shadow: 2px 2px 5px;
  min-width: 600px;
}
.post a:hover .tooltiptext {
  visibility: visible;
}
.post h1 {
  color: #b4b4b4;
}
.post h3 {
  color: #b4b4b4;
}
.post h2 {
  color: #b4b4b4;
}
.post h4 {
  color: #b4b4b4;
}
.post p {
  color: #b4b4b4;
}

a {
  text-decoration: none;
  transition: all 100ms ease-in-out;
  width: 100%;
}
a:hover {
  scale: 101%;
}

.search-container {
  background-color: #4c4c4c;
  margin-inline: 15px;
  margin-block: 10px;
  border-radius: 6px;
  max-height: 100px;
  padding: 15px;
  color: #b4b4b4;
}
.search-container label {
  margin-bottom: 5px;
}

.card-body {
  background-color: #4c4c4c;
}
.card-body label {
  display: flex;
  color: #b4b4b4;
  align-content: center;
}
.card-body textarea {
  border-radius: 10px;
  background-color: #666666;
}
.card-body input {
  border-radius: 10px;
  background-color: #666666;
}

.username-nav {
  margin: 0;
  pointer-events: none;
}
.username-nav:hover {
  background-color: transparent;
  color: #b4b4b4;
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  color: white;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-container .imgAvatar {
  display: flex;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
}
.profile-container .imgAvatar:hover .tooltiptext {
  visibility: visible;
}
.profile-container h2 {
  color: #b4b4b4;
}

.dm-container .dm-messages {
  max-height: 60vh;
  overflow: scroll;
  overflow-inline: hidden;
}
.dm-container label {
  padding: 4px;
  background-color: #4c4c4c;
}
.dm-container .message {
  padding: 2px;
  border-radius: 5px;
  background-color: #4c4c4c;
  margin-inline: 10px;
  margin-block: 6px;
  padding-block: 5px;
  padding-inline: 20px;
}
.dm-container .sended {
  display: flex;
  align-items: end;
  flex-direction: column;
}
.dm-container .sended h4 {
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 0px;
  margin-block: 1px;
}
.dm-container .sended p {
  padding: 0px;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin-block: 1px;
}

.alertBtn {
  background-color: red;
}

.alert-form {
  background-color: #784a4a;
  margin: 30px;
  border-radius: 10px;
  padding: 50px;
  color: #b4b4b4;
}/*# sourceMappingURL=style.css.map */