<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <script src="{% static 'bootstrap.bundle.js' %}"></script>
    <script src="https://kit.fontawesome.com/cf1d4f5cef.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>{%block title%}aaa{% endblock title %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">Twotter</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% if user.is_authenticated %}
            <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url "admin:index" %}">Admin</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url "create-post" %}">Create Post</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url "message-hub" %}">Messages</a>
            </li>

            <li class="nav-item">
            <a class="nav-link" href="{% url "profile-view" pageUserId=user.id %}">{{ user.username }}</a>
            </li>

            <li class="nav-item">
            <a class="nav-link" href="{% url "logout" %}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
            <a class="nav-link" href="{% url "login" %}">Login</a>
            </li>
            {% endif %}
        </ul>
        </div>
    </div>
    </nav>
    {% block content %}

    {% endblock content %}
</body>
</html>
