{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}

{% if posts %}
{% for post in posts %}
<a href='{% url "post" postid=post.id %}' class="card post">
    <p>{{ post.author }}</p>
    <h2>{{post.titulo}}</h2>
    <h4>{{post.subtitulo}}</h4>
    <p>{% for letter in post.contenido%}{% if  forloop.counter0  <= 300 %}{{letter}}{% else %}{% if  forloop.counter0 == 300 or  forloop.counter0  == 301 or  forloop.counter0 == 302 %}.{% endif %}{% endif %}{% endfor %}</p>
</a>
{% endfor %}
{% else %}

<h2>aun no se a hecho ningun post.
    Se el Primero ;)
</h2>
{% endif %}

{% endblock content %}
