{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="dm-container">
    <div class="dm-messages">
        {% for message in messages %}
        <div class="message {% if message.sender == user %}sended{% endif %}"><h4>{{message.content}}</h4><p>{{message.sender}}</p></div>
        {% endfor %}
    </div>
    <form action="{% url "dm" contact=contact.id %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
    </form>

</div>

{% endblock content %}
