# ==========================
# 🐍 Django Backend
# ==========================
__pycache__/
*.py[cod]
*$py.class
db.sqlite3
.env
local_settings.py
db.sqlite3

# Archivos multimedia subidos (Avatars, Imágenes, etc.)
/media/
/avatars/

# ==========================
# ⚛️ React & Node (Frontend)
# ==========================
node_modules/
/frontend/node_modules/
dist/
dist-ssr/
*.local
npm-debug.log*

# ==========================
# ⚙️ Entornos y SO
# ==========================
.DS_Store
.vscode/
.idea/

# ==========================
# 🛠️ Scripts Específicos
# ==========================
start.bat
